@charset "UTF-8";

:root{
    --cor0: #c5e5eb;
    --cor1: #08d3d3;
    --cor2: #3d82dc;
    --cor3: #2f82a8;
    --cor4: #281a5c;
    --cor5: #06103d;
    --cor6: #8910c2 ;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue ;
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 1rem;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor2);
    color: black;
    height: 4.5rem;
    padding: 0 25px;
    box-shadow: 0px 5px rgb(0, 0, 0);
    position: fixed;
    top:0;
    width:100%;
   
   
  }

    a {
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
  }
  
  ul {
    display: flex;
    list-style: none;
    gap: 2rem;
  }


   .button {
    display: inline-flex ;
    color: #06103d;
    background-color: var(--cor1);
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    box-shadow: 3px 5px 0px black;
    transition: 400ms linear;

  }

  .button:hover{
    background-color: var(--cor4);
    color: var(--cor1);
    box-shadow: 1px 1px 0px var(--cor1); 
  }

nav a:hover{
    color: var(--cor0);
    text-decoration: underline;
    font-weight: bold;
}

h1{
  color: var(--cor2);
  text-align: center;
  padding: 30px 0px;
}

form {
  width: 100%;
  max-width: 30rem;
}

label,
input,
textarea,
button{
  display: block;
}

input,
textarea,
button {
  width: 100%;
  font: inherit;
  padding: 1.25rem;
  font-weight: 700;
}

input,
textarea {
  margin-bottom: 1rem;
  color: white;
  background: #323644;
  border: 0.125rem solid transparent;
  border-radius: 1.125rem;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
  outline: none;
  border-color: #1d90f5;
  box-shadow: 0 0 0 0.3125rem #26344a;
}

label {
  margin-bottom: 0.5rem;
  color: #84868f;
}

textarea {
  min-height: 12.5rem;
  resize: vertical;
}

button {
  border: none;
  border-radius: 99px;
  color: white;
  background: #1d90f5;
  cursor: pointer;
  transition: 0.3s;
}

button:hover,
button:focus {
  outline: none;
  background: #1c70d3;
}

button:disabled {
  cursor: not-allowed;
  background: #555b69;
}

.success,
.error {
  text-align: center;
}

.success {
  color: var(--cor2);
}

.error {
  color: tomato;
}

gallery {
  width: 100%; /* isso é padrão para elementos div */
  
  border: 1px solid;
}

.gallery .image {
  width: 99%; 
}


/* >> BOTÃO WHATSAP<< */
.btn-whatsapp a {

	color:#fff; 
	text-decoration:none; 
	display:block; 
}

.btn-whatsapp {
    
    position:fixed; 
    left:5%; 
    bottom:0%; 
    transform: translate(-50%, -50%);  
    background-color:rgb(37, 211, 102); 
    width:60px; height:60px; 
    text-align:center; 
    line-height:58px; 
    font-size:1.8em; 
    color:#ffffff; 
    font-weight:100; 
    border-radius:50%; 
}

.btn-whatsapp:before,
.btn-whatsapp:after

{

	content: '';
    display:block;
    position: absolute;
    border-radius:50%;
    border:1px solid #25d366;
    left: -20px;
    right: -20px;
    bottom: -20px;
    top: -20px;
    animation: animate 1.5s linear infinite;
    opacity:0;
    backface-visibility:hidden;    
}

.pulsaDelay:after { animation-delay: .5s; }

@keyframes animate {


   0%   { transform: scale(0.5); opacity:0; }
   50%  { opacity:1; }
   100% { transform: scale(1.2); opacity:0; }

}
/* >> BOTÃO WHATSAP<< */